<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-1 d-flex justify-content-center">
                <img class="footer-logo" src="assets/images/header-logo.svg" alt="">
            </div>
            <address class="footer-address d-flex flex-wrap align-items-center col-lg-9">
                <div class="footer-link col-lg-3">2022 First Flowers</div>
                <a class="footer-link col-lg-4" href="mailto:first-flowers@mail.ru">E-mail: first-flowers@mail.ru</a>
                <a class="footer-link col-lg-5" href="tel:+79030153315">WhatsApp: +7 903 015-33-15</a>
            </address>
            <div class="footer-social col-lg-2 d-flex align-items-end">
                <a href="#" class="footer-social__link" target="_blank">
                    <img src="assets/images/icons/social/telegram.svg" alt="telegram">
                </a>
                <a href="#" class="footer-social__link" target="_blank">
                    <img src="assets/images/icons/social/whatsapp.svg" alt="whatsapp">
                </a>
                <a href="#" class="footer-social__link" target="_blank">
                    <img src="assets/images/icons/social/vk.svg" alt="vk">
                </a>
            </div>
        </div>
    </div>
</footer>