<header class="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="header__logo justify-content-center d-flex col-12 col-md-4 col-lg-2">
                <img src="assets/images/header-logo.svg" alt="First-Flowers">
            </div>
            <div class="header-search col-10 col-md-8 col-lg-6 col-xl-6 px-4">
                <h1 class="header-search__title">ДОСТАВКА ЦВЕТОВ ПО МОСКВЕ</h1>
                <form class="form" action="search.html" method="get">
                    <input type="text" class="form-control form-search" id="search-input" placeholder="Поиск по сайту">
                </form>
            </div>
            <address class="header-adress col-lg-4 col-xl-4 ">
                <a class="header-adress__link" href="tel:+7(903)015-33-15">+7 (903)015-33-15</a>
                <a class="header-adress__link" href="mailto:first-flowers@mail.ru">E-mail: first-flowers@mail.ru</a>
            </address>
        </div>
    </div>
</header>